fastapi
uvicorn
python-multipart

langchain
langchain-core
langchain-community
langchain-groq
langchain-openai
langgraph

python-dotenv

sentence-transformers
faiss-cpu
numpy

pypdf
pymupdf

chromadb

typesense

pydantic